<app-navbar></app-navbar>
  
<main class="content">
    <h1 class="main-title">Présentation GroupFormer</h1>
    <h2 class="description-title">Descriptif et objectifs du site :</h2>
    <section class="description-section">
        <div class="description-content">
            <p>
                Les étudiants ont du mal à trouver des partenaires ayant des compétences 
                ou des connaissances complémentaires pour maximiser l'efficacité du travail collectif.
            </p>
            <hr class="separator" />
            <p>
                Ce projet vise à faciliter la création de groupes de projet scolaires en connectant les étudiants 
                selon leurs compétences et intérêts communs, grâce à une plateforme de mise en relation.
            </p>
        </div>
    </section>
    <ng-container *ngIf="isLoggedIn; else notLoggedInContent">
        <h2 class="help-title">Comment pouvons-nous vous aider ?</h2>
        <div class="faq-buttons">
            <button href="#" class="faq-btn">Je cherche un groupe de projet</button>
            <button href="#" class="faq-btn">Je cherche des membres pour compléter mon équipe</button>
            <button href="#" class="faq-btn">Je cherche une idée de projets pertinente</button>
        </div>
    </ng-container>
    <ng-template #notLoggedInContent>
        <button (click)="navigateTo('register')" class="signup-btn">S'inscrire maintenant</button>
    </ng-template>
</main>