<app-navbar></app-navbar>
  
<main class="content">
    <h1 class="main-title">Présentation GroupFormer</h1>
    <h2 class="description-title">Descriptif et objectifs du site :</h2>
    <section class="description-section">
        <div class="description-content">
            <p>
                Trouver des partenaires aux compétences complémentaires pour maximiser l'efficacité du travail collectif est un défi pour les étudiants.
            </p>
            <hr class="separator" />
            <p>
                Ce projet facilite la formation de groupes scolaires en connectant les étudiants selon leurs compétences et intérêts communs via une plateforme.
            </p>
        </div>
    </section>
    <ng-container *ngIf="isLoggedIn; else notLoggedInContent">
       <!-- TO DO : stat personnel ou recommandation d'équipe ou projet a voir-->
    </ng-container>
    <ng-template #notLoggedInContent>
        <button (click)="navigateTo('register')" class="signup-btn">S'inscrire maintenant</button>
    </ng-template>
</main>