<app-navbar></app-navbar>
<br>
<h2 class="title-page">Recherche de groupe</h2>

<div class="filters">
  <select class="filter-select" [(ngModel)]="selectedSpecialty" (change)="applyFilters()">
    <option value="">Toutes les spécialités</option>
    <option *ngFor="let specialty of specialties" [value]="specialty">{{ specialty }}</option>
  </select>

  <select class="filter-select" [(ngModel)]="selectedMissingStudents" (change)="applyFilters()">
    <option value="">Tous les étudiants manquants</option>
    <option *ngFor="let i of missingStudentsRange" [value]="i">{{ i }}</option>
  </select>

  <input class="keyword-input" type="text" placeholder="Mots-clés" [(ngModel)]="keywords" (input)="applyFilters()" />

  <input class="search-bar" type="text" placeholder="Recherche" [(ngModel)]="searchTerm" (input)="applyFilters()" />
</div>

<div *ngIf="filteredProjectDetails.length === 0" class="no-results">
  <span class="material-symbols-outlined">
    search_off
  </span>
  <p>Aucune annonce n'a été trouvée</p>
</div>

<table *ngIf="filteredProjectDetails.length > 0" class="styled-table">
  <thead>
    <tr>
      <th>Nom du projet</th>
      <th>Description du projet</th>
      <th>Nombre d'étudiants manquants</th>
      <th>Compétence recherchée</th>
      <th>Description de l'annonce</th>
      <th>Date de publication</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of filteredProjectDetails">
      <td>{{ detail.projectName }}</td>
      <td>{{ detail.projectDescription }}</td>
      <td>{{ detail.missingStudents }}</td>
      <td>{{ detail.skills }}</td>
      <td>{{ detail.announcementDescription }}</td>
      <td>{{ detail.publicationDate }}</td>
    </tr>
  </tbody>
</table>