<app-navbar></app-navbar>
<br>
<h2 class="title-page">Groupes disponibles</h2>

<div *ngIf="isLoading" class="loading-message">
  <span class="material-symbols-outlined rotating-icon">
    autorenew
  </span>
  <p>Chargement des annonces</p>
</div>

<div *ngIf="!isLoading && isDataLoaded" class="filters">
  <div class="filter-item">
    <span class="material-symbols-outlined">group</span>
    <select class="filter-select" [(ngModel)]="selectedMissingStudents" (change)="applyFilters()">
      <option value="">Nombre d'étudiants manquants</option>
      <option *ngFor="let i of missingStudentsRange" [value]="i">{{ i }}</option>
    </select>
  </div>

  <div class="filter-item">
    <span class="material-symbols-outlined">search</span>
    <input class="keyword-input" type="text" placeholder="Recherche par mot clé" [(ngModel)]="keywords" (input)="applyFilters()" />
  </div>

  <div class="filter-item">
    <span class="material-symbols-outlined" [ngClass]="{'filter_alt_off': selectedAdaptedFilter === 'sans', 'filter_alt': selectedAdaptedFilter === 'avec'}"></span>
    <select class="filter-select" [(ngModel)]="selectedAdaptedFilter" (change)="applyFilters()">
      <option value="sans">Sans filtre personnalisé</option>
      <option value="avec">Avec filtre personnalisé</option>
    </select>
  </div>
</div>

<div *ngIf="!isLoading && isDataLoaded && areFiltersApplied && filteredProjectDetails.length === 0" class="no-results">
  <span class="material-symbols-outlined">
    search_off
  </span>
  <p>Aucune annonce n'a été trouvée</p>
</div>

<table *ngIf="!isLoading && isDataLoaded && filteredProjectDetails.length > 0" class="styled-table">
  <thead>
    <tr>
      <th>Nom du projet</th>
      <th>Description de l'annonce</th>
      <th>Compétence recherchée</th>
      <th>Centres d'intérêt</th>
      <th>Description du projet</th>
      <th>Nombre d'étudiants manquants</th>
      <th>Date de publication</th>
      <th>Emails des membres</th> <!-- Ajoutez cette ligne -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of filteredProjectDetails">
      <td>{{ detail.projectName }}</td>
      <td>{{ detail.announcementDescription }}</td>  
      <td>{{ detail.memberEmails.join(', ') }}</td>
      <td>{{ detail.skills }}</td>
      <td>{{ detail.specialties.join(', ') }}</td>
      <td>{{ detail.projectDescription }}</td>
      <td>{{ detail.missingStudents }}</td>
      <td>{{ detail.publicationDate }}</td>
    </tr>
  </tbody>
</table>