.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.filter-select,
.search-bar,
.keyword-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar,
.keyword-input {
  width: 160px;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  text-align: center;
  margin-top: 20px;
}

.no-results .material-symbols-outlined {
  font-size: 72px; 
  color: #000;
}

.no-results p{
  font-size: large;
}

//Array style
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th, .styled-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.styled-table th {
  background-color: #f2f2f2;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

// Loading message 
.loading-message {
  color: #333; /* Gris foncé */
  font-style: italic;
  text-align: left;
  display: flex;
  align-items: center;
}

.rotating-icon {
  animation: rotate 2s linear infinite;
  margin-right: 10px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}