<h1 class="main-title">Bienvenue chez GroupFormer</h1>
<div class="register-container">
  <p>Rejoignez-nous pour faciliter la gestion des projets et des groupes étudiants</p>
  <label for="firstname">Prénom</label>
  <input type="text" id="firstname" placeholder="Prénom" class="input-box" [(ngModel)]="firstname" [ngClass]="{'error': firstnameError}" (keydown.enter)="register()">
  <div *ngIf="firstnameError" class="error-message">Veuillez rentrer le prénom</div>
  <label for="lastname">Nom</label>
  <input type="text" id="lastname" placeholder="Nom" class="input-box" [(ngModel)]="lastname" [ngClass]="{'error': lastnameError}" (keydown.enter)="register()">
  <div *ngIf="lastnameError" class="error-message">Veuillez rentrer le nom</div>
  <label for="email">Email universitaire</label>
  <input type="email" id="email" placeholder="Exemple@ecole.com" class="input-box" [(ngModel)]="email" [ngClass]="{'error': emailError}" (keydown.enter)="register()">
  <div *ngIf="emailError" class="error-message">Veuillez rentrer l'email</div>
  <label for="password">Mot de passe</label>
  <input type="password" id="password" placeholder="Mot de passe" class="input-box" [(ngModel)]="password" [ngClass]="{'error': passwordError}" (keydown.enter)="register()">
  <div *ngIf="passwordError" class="error-message">Veuillez rentrer le mot de passe</div>
  <button (click)="register()" class="register-btn">S'inscrire</button>
</div>