<header class="navbar">
  <div class="navbar-logo">
    <img src="assets/img/logo_groupFormer.png" alt="GroupFormer Logo" class="project-logo">
  </div>
  <nav class="navbar-menu">
    <a (click)="navigateTo('home')"><span>Accueil</span></a>
    <a *ngIf="hasGroup === 'non'" (click)="navigateTo('group-research')"><span>Recherche de groupe</span></a>
    <a *ngIf="hasGroup === 'oui'" (click)="navigateTo('student-research')"><span>Recherche d'étudiant</span></a>
    <a (click)="navigateTo('home')"><span>Sujet</span></a>
    <a (click)="navigateTo('home')"><span>Statistique</span></a>
  </nav>
  <div class="navbar-profil">
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <div class="initials" (click)="toggleDropdown()">GF</div>
      <div class="dropdown-menu" *ngIf="dropdownOpen">
        <a (click)="navigateTo('profil')">Profil</a>
        <a (click)="logout()">Déconnexion</a>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <a (click)="navigateTo('login')">Connexion</a>
      <a (click)="navigateTo('register')">S'inscrire</a>
    </ng-template>
  </div>
</header>