.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f8f9fa;
  position: fixed; /* Rendre la barre de navigation fixe */
  top: 0; /* Positionner en haut de la page */
  width: 100%; /* Prendre toute la largeur de la page */
  z-index: 1000; /* Assurer que la barre de navigation est au-dessus des autres éléments */
  background-color: #f8f9fa;

}

.navbar-logo {
  display: flex;
  align-items: center;
}

.project-logo {
  width: 50px;
  height: auto;
}

.navbar-menu {
  flex: 20;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0 130px;
}

.navbar-menu a {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.navbar-menu a .material-symbols-outlined {
  font-size: 20px;
  margin-right: 5px;
}

.navbar-menu a span {
  line-height: 1;
}

.navbar-menu a:hover {
  background-color: #e9ecef;
}

.navbar-profil {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  width: auto;
  margin-right: 10px;
}

.navbar-profil a,
.ng-template a {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.navbar-profil a .material-symbols-outlined,
.ng-template a .material-symbols-outlined {
  font-size: 20px;
  margin-right: 5px;
}

.navbar-profil a span,
.ng-template a span {
  line-height: 1;
}

.navbar-profil a:hover,
.ng-template a:hover {
  background-color: #e9ecef;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

.dropdown-menu a .material-symbols-outlined {
  font-size: 20px;
  margin-right: 8px;
}

.content {
  text-align: left;
  padding: 20px;
}

.main-title {
  font-weight: 600;
  line-height: 110%;
  font-size: 35px;
  margin-bottom: 20px;
}

.main-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.signup-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #0056b3;
}