.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f8f9fa;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.project-logo {
  width: 50px;
  height: auto;
}

.navbar-menu {
  flex: 20;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.navbar-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.navbar-menu a span {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.9em;
  color: black;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.navbar-menu a span:hover,
.navbar-profil a:hover,
.dropdown-menu a:hover,
.initials:hover {
  background-color: #e9ecef;
}

.navbar-profil {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.navbar-profil a {
  padding: 5px 10px;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  width: 100%;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}
.content {
  text-align: left;
  padding: 20px;
}

.main-title {
  font-weight: 600;
  line-height: 110%;
  font-size: 35px;
  margin-bottom: 20px;
}

.main-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.signup-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #0056b3;
}