<app-navbar></app-navbar>
<br>
<h2 class="title-page">Liste des étudiants libres : </h2>

<div *ngIf="isLoading" class="loading-message">
  <span class="material-symbols-outlined rotating-icon">
    autorenew
  </span>
  <p>Chargement des annonces</p>
</div>


<div *ngIf="!isLoading" class="filters">
  <input class="keyword-input" type="text" placeholder="Mots-clés" [(ngModel)]="keywords" (input)="applyFilters()" />
  <input class="search-bar" type="text" placeholder="Recherche" [(ngModel)]="searchTerm" (input)="applyFilters()" />
  <input class="major-input" type="text" placeholder="Majeure" [(ngModel)]="major" (input)="applyFilters()" />
</div>

<div *ngIf="!isLoading && filteredStudents.length === 0" class="no-results">
  <span class="material-symbols-outlined">
    search_off
  </span>
  <p>Aucun étudiant n'a été trouvé</p>
</div>

<table *ngIf="!isLoading && filteredStudents.length > 0" class="styled-table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Compétences</th>
      <th>Centre de recherche</th>
      <th>Majeure</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of filteredStudents">
      <td>{{ student.lastname }}</td>
      <td>{{ student.firstname }}</td>
      <td>{{ student.skills }}</td>
      <td>{{ student.researchCenter }}</td>
      <td>{{ student.major }}</td>
    </tr>
  </tbody>
</table>