.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
  gap: 15px;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.filter-item .material-symbols-outlined {
  position: absolute;
  left: 5px;
}

.filter-select,
.keyword-input,
.major-input {
  padding: 8px 8px 8px 30px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.keyword-input, .major-input {
  width: 130px;
  padding : 8px 8px 8px 15px;
}

.filter_alt_off::before {
  content: 'filter_alt_off';
}

.filter_alt::before {
  content: 'filter_alt';
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  text-align: center;
  margin-top: 20px;
}

.no-results .material-symbols-outlined {
  font-size: 72px; 
  color: #000;
}

.no-results p {
  font-size: large;
}

//Array style
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th, .styled-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  font-size: 0.88em;
}

.styled-table th {
  background-color: #f2f2f2;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

// Loading message 
.loading-message {
  font-style: italic;
  text-align: left;
  display: flex;
  align-items: center;
}

.rotating-icon {
  animation: rotate 2s linear infinite;
  margin-bottom: 3px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

