*{
    font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-weight: 300;
}
body {
    background-color: #e9ecef; // Couleur de fond pour toute la page
}

.title-page {
    text-align: center;
    padding: 10px;
    font-size: 2rem; 
    margin-top: 50px; 
    margin-bottom: 20px;
}
  