.profil-info {
  max-width: 600px;
  margin: 0;
  padding: 20px;
}

.info-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-group label {
  flex: 0 0 auto;
  margin-right: 10px; 
  text-align: left;
  white-space: nowrap; /* Empêcher le label de se casser en plusieurs lignes */
}

.info-group input,
.info-group select,
.info-group span {
  max-width: 115px;
  padding: 6px;
  margin: 0; 
}

.info-group input:focus,
.info-group select:focus {
  outline: none; 
  border-color: #007bff; 
}

.info-group button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.info-group button:hover {
  background-color: #0056b3;
}

.info-group button.icone {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  font-size: 10px;
  color: black; 
  outline: none; 
}

.info-group button.icone:hover {
  color: #007bff; 
}

.inline-container {
  display: flex;
  align-items: center;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -7px;
  background-color: #F5F5F5	; 
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1; /* Assurez-vous que le menu déroulant est au-dessus des autres éléments */
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 5px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #f0f0f0;
}

.list-inline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex; /* Afficher les éléments en bloc */
  align-items: center;  
  margin-bottom: -8px;
}

.list-item .icone {
  font-size: 6px; 
  margin-left: 5px;
}

.no-items {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.required {
  color: red;
  font-size: 0.8em;
  vertical-align: super;
}

.legend {
  margin-top: 20px;
  font-size: 0.9em;
  color: red;
}